body{
    background-color: black;
    margin: 0;
    font-family: "sora", sans-serif;
    color: white;
}

*{
    box-sizing: border-box;
}
a{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin-top: 100px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background: rgb(75, 73, 73);
    padding: 16px;
    border-radius: 16px;

}

.chat-area{
    border-radius: 16px;
    background: white;
    height: 500px;
    padding: 16px;

}

.chat-input{
    border-radius: 16px;
    background: white;
    margin-top: 16px;
    display: flex;



input{
    width: 100%;
    height: 38px;
    border: none;
    background: transparent;
    outline: none;
    padding: 0 16px;

}
button{
    border-radius: 10000px;
    background: orange;
    border: none;
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
}
.chat{
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
}
.avatar{

    width: 30px;
    height: 30px;
    background: brown;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    flex-shrink: 0;

}

.chat-content{
    background: brown;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
}

.by-U{
    flex-direction: row-reverse;
}

