.pokemon{
    padding: 12px 20px;
    background-color: rgb(88, 216, 188);
    border-radius: 1000px;
    border: 1px solid black;
    font-weight: bold;
    transition: all 250ms ease;
    text-decoration: none;
    color: black;
}
.pokemon:hover{
    transform: scale(1.4);
    background-color: yellow;
     animation: rotate 250ms ease forwards;
}
@keyframes rotate {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
    
}
body{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    background-color: rgb(6, 56, 46);;
}